.vscode
CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
build
CMakeTmp
test_radixgraph
test_trie
test_gapbs
libRG.a
*.e
*.v
*.properties
optimizer
test_analytics
test_transform_continuous
test_trie_workload
test_vertex_index
test_batch_updates
workload.txt
workload_*_log.txt
results*
memory_log.txt
figures